*{
    padding: 0%;
    margin: 0%;
}
.App{
    background-color: #333;
}
.main{
    display: flex;
}
.card{
    background-color: #fff;
    width: 17rem;
    margin: 1rem;
    border-radius: .5rem;
    padding: .5rem;
}
.card>h3{
    text-align: center;
}
.card>p{
    text-align: center;
}